body {
    margin: 0;
    }

    .containerr {
    position: relative;
    width: 100%;
    }

    .wave {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: url('image/wave.png') repeat-x;
    background-size: 250rem 30rem;
    animation: animate 15s linear infinite;
    }

    @keyframes  animate {
    0% {
        background-position-x: 0;
        background-position-x: -250rem;
    }
    }

    .wave:nth-child(1) {
    opacity: 0.9;
    }

    .wave:nth-child(2) {
    opacity: 0.5;
    animation-delay: 0.2s;
    animation-direction: reverse;
    }

    .wave:nth-child(3) {
    opacity: 0.7;
    animation-delay: 5s;
    }
    .navbar-brand, .about-me {
        display: flex;
        align-items: center;
    }

    /* .navbar-brand {
        background-color: #dcdde1;
    } */

    .navbar-brand div{
        margin-left: 10px;
        line-height: 1.2;
    }

    .about-me {
        margin-left: 28px;
        margin-top: 20px;
        line-height: 2;
        font-size: 25px; color: black;
    }

    .navbar-brand .name, .about-me {
        font-weight: bold;
    }

    .navbar-brand .subtitle, .about-me {
        font-size: 0.8em;
    }

    .content {
        height: 900px;
        background-color: #f5f6fa
        /* background: url(image/rivage-SZGdof7rk7g-unsplash.jpg) no-repeat center center; */
    }

    .text-muted {
        font-size: 15px;
    }

    .btn-primary {
        animation: shake 1.5s infinite; /* Infinite loop */
    }

    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
    }

    /* dùng cho biến mất  */

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .fade-out {
        animation: fadeOut 1s forwards;
    }

    .fade-in {
        animation: fadeIn 1s forwards;
    }
